# Dépendances
node_modules/

# Production / Build
dist/
build/

# Environnement / Secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE / Éditeurs
.vscode/
.idx/
.idea/

# Système
.DS_Store
Thumbs.db